body {
    background-color: blue;

}

h1,
p {
    text-align: center;
    color: white;
    font-family: calibri;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    text-align: center;
    border-radius: 0%;
    height: 500px;
    width: 1000px;
    background-color: blue;
}

td {
    font-size: 50px;
    border-radius: 50%;
}

input {
    float: right;
    border-radius: 10%;
    margin: 10px;
}

#puissace4 {
    display: flex;
    justify-content: center;
}

.grid {
    background: red;
    text-align: center;
    border: black 5px solid;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.flash {
    width: 100px;
    height: 100px;
    background: red;
    animation: mymove 4s infinite;
}

@keyframes mymove {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}
